/* .divContainer{
    background: url('../../assets/img/food-background-on-black-table-2021-08-30-09-52-19-utc.jpg');
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    background-position: center;
} */

.divContainer{
    margin: 0;
    padding: 0;
    background-image: url("../../assets/img/food-background-on-black-table-2021-08-30-09-52-19-utc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column
}

